@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Prosto+One&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Righteous&display=swap');
/* Resets */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
    /* background: #141E30;  fallback for old browsers */
    background-color: #090423;
    /* background: -webkit-linear-gradient(to right, #010111, #141E30);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #1a1d31, #11101a); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
html, body{
    overflow-x: hidden;
}
:root {
    --font: 'Poppins', sans-serif;
    --color: rgb(106, 164, 146);
    --bg-color: #f4f4f4;
}
::selection{
    color: #e5e0b2;
    background-color: #a97a04;
}
html::-webkit-scrollbar{
    width: 0.6rem;
    }
    html::-webkit-scrollbar-track{
    background: transparent;
    }
    html::-webkit-scrollbar-thumb{
    /* background: #70a388; */
    /* background: #040850; */
    background: linear-gradient(#6e5c02, #ad9113  , #f9d423, #cba602, #857509);
    border-radius: 5px;
    }
.container{
    max-width: 100vw;
    height: 80px;
    /* margin: 5px; */
    background-color: #ffffff00;
    backdrop-filter: blur(2px);
    /* background-image: url("Squadlogo.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; */
}
/* :root{
    --primary_color:rgb(231, 169, 146);
    --secondary_color:#cccc;
} */
/* Navigation */
nav{
    /* background: linear-gradient(to left, coral,rgb(159, 71, 176)); */
    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
    width: 100%;
    height: 80px;
}
.logo{
    display: inline;
    /* width: 150px;
    height: 150px; */
    border-radius: 80px;
    border: 2px solid #ad6b13;
    vertical-align: middle;

    /* background-image: url("Squadlogo_2.png");
    background-position: center;
    background-repeat: no-repeat; */
}
label.logo-label{
     margin: 10px;
    /*padding: 0 70px; */
    line-height: 80px;
    font-size: 1.8rem;
    font-weight: 1000;
    font-family: 'Righteous', cursive;
    color: rgb(58, 10, 31);
}
/* nav .logo i{
    background: -webkit-linear-gradient(#b50211, #550909);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    vertical-align: baseline;
    font-size: 2.3rem;
} */
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav a{
    font-size: 1rem;
    font-weight: 500;
    padding: 7px 13px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
    /* text-transform: uppercase; */
}
a.active, a:hover{
    background: #0b69524c;
}
.checkbtn{
    font-size: 1.8rem;
    line-height: 80px;
    color: rgba(255, 255, 255, 0.8);
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* main section */
 .main{
    /* margin-inline: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(to right, #010111, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1a1d31, #11101a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main2{
    margin-inline: 20px;
    width: 700px;
    height: 500px;
    margin-top: 80px;
    text-align: center;

}
.main2 h2{
    padding: 5px;
    font-weight: 550;
    color: #bba61d;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    background: -webkit-linear-gradient( rgba(255,209,67,1) 0%, rgb(255, 180, 83) 90% );;
    /* background: -webkit-linear-gradient(#02b5b2, #093555); */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main2 h1{
    padding: 15px;
    font-size: 4.3rem;
    font-weight: 700;
    font-family: 'Prosto One', cursive;
    background: -webkit-linear-gradient(#ff9966, #ff5e62);
    /* background: -webkit-linear-gradient(#02b5b2, #093555); */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main2 h3{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(57, 81, 159);
    padding: 5px;
    margin-top: 20px;
    text-align: center;
}

/* Board of fame */
.board{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(-95%);
    margin-inline: auto;
    width: 900px;
    height: 120px;
    background: rgb(251,110,63);
    background: radial-gradient(circle, rgb(241, 156, 10) 0%, rgb(70, 54, 8) 100% );
    /* background: linear-gradient(to left, #390210,#800020,#8B0000, #e88535,#c16903, #8B0000, #800020); */
    border-radius: 15px;
}
.board h2{
    
    padding: 10px;
    /* background: -webkit-linear-gradient(rgb(213, 164, 3), rgb(59, 46, 2)); */
    /* background: -webkit-linear-gradient(rgb(148, 3, 3), rgb(45, 0, 0));*/
    background: -webkit-linear-gradient(#857509, #ad9113  ,#996903, #f9d423, #996903, #ad9113, #857509);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:transparent; 
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  /* background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  ); */
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%,#ff1361 67%, #857509, #ad9113  ,#996903, #f9d423, #ad9113, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  
 
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
    

.section-header {
	margin-bottom: 60px;
	position: relative;
	padding-bottom: 20px;
}

.section-header::before {
	content: "";
	position: absolute;
	display: block;
	width: 60px;
	height: 5px;
	background: rgb(213, 164, 3);
	bottom: 0;
	left: calc(50% - 25px);
}

.section-header h2 {
	font-size: 36px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	margin-bottom: 10px;
}

.section-header p {
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 1rem;
	font-weight: 500;
	color: #87745b;
}
.section-header h2{
    /* background: -webkit-linear-gradient(rgb(213, 164, 3), rgb(59, 46, 2)); */
    background: -webkit-linear-gradient(#857509, #ad9113  ,#996903, #f9d423, #996903, #ad9113, #857509);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    padding: 40px 10px 20px 10px;
    text-align: center;
    
}
/* =========================== SLIDER ============================== */
.beta-red {
    /* margin-top: 80px; */
    padding-top: 50px;
    /* background-color: #1d2136; */
    background-color: #090423;
    /* background: linear-gradient(to top right, #1e1b1b, #1b0125, #120726); */
    /* background: linear-gradient(to top right, #1e1b1b, #1b0125, #120726); */
    
}


.mySwiper span h2{
    /* padding: 20px; */
    border-bottom: 5px solid #f44336;
}
.swiper-wrapper {
    
    height: 35em;
    display: flex;
    align-items: center;
    border-image: linear-gradient(to right, #f70aff, rgb(129, 13, 13));
    border-image-slice: 1;
}

.card {
    width: 330px;
    height: 450px;
    /* background: linear-gradient(to top right, #1d2136, #1d2136 ); */
    background-color: #090423 ;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    padding: 2em 1em;
    border: 2px solid #ad6b13;
    /* border: 2px solid #8d8e80; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active) {
    filter: blur(1px);
}

.card__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #ad6b13;
    /* border: 5px solid var(--color); */
    padding: 3px;
    margin-bottom: 2em;
}

.card__image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card__title {
    color: #ff03c8;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    top: .2em;
}

.card__name {
    color: #f46157;
    /* color: rgb(73, 146, 159); */
    font-size: 1.2rem;
    font-family: 'Poppins';
}
.card__name1 {
    color: rgb(255, 0, 55);
}
.post{
    color: rgb(73, 146, 159);
    font-size: 0.9rem;
}
.card__text {
    color: #87745b;
    text-align: center;
    font-size: 1rem;
    margin: 1em 0;
    padding: 10px;
}

.social {
    text-align: center;
    width: 200px;
    word-spacing: 2rem;
    background: radial-gradient(circle, #ab8d04,#ad6b10);
    /* background-color: var(--color); */
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    padding: 10px;
    border-radius: 8px;
    
}
a .social{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
a .social .fa-linkedin-in:hover{
    color: rgb(13, 53, 253);
}
.social .fa-instagram:hover{
    color: rgb(253, 13, 129);
}
.swipe{
    width: 100%;
    height: 80px;
    text-align: center;
}.swipe h3{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
 font-size: 1.5rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* -------footer section--------- */

/* Footer-section 
footer{
    /* background-color: #0f111c;
    width: 100%;
    height: 190px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00); */
    /* background-color: #7e5c04; 
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    border-top: 2px solid #7e5c04;

}*/
/*.footer-container{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: flex-start;
    justify-content: space-between;
    /* border-top: 2px solid #7e5c04; */
/*}
.footer-entity{
    flex-basis: 25%;
    padding: 10px;
}
.footer-entity .footer-logo{
    border: 3px solid #ad6b10;
    border-radius: 80px;
    width: 60px;
    margin: 20px;
    
}
.footer-entity h2{
    color: #fff;
    background: -webkit-linear-gradient(rgb(213, 164, 3), rgb(59, 46, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.footer-entity p{
    padding: 5px;
    font-size: 1rem;
    font-weight: 200;
    color: #fff;
    text-align: left;
    line-height: 1rem;
} */

/* nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn */
footer{
    width: 100%;
    background: linear-gradient(to top right, #1e1b1b, #1b0125, #120726);
    /* bottom: 0; */
    position: absolute;
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    border-top: 2px solid #7e5c04;
}
.footer-container{
    width: 85%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #7e5c04;
}
.footer-entity{
    flex-basis: 30%;
    padding: 10px;
}
.footer-entity h2{
    background: -webkit-linear-gradient(rgb(213, 164, 3), rgb(59, 46, 2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 10px;
}
.footer-entity img{
    width: 50px;
    border: 2px solid darkgoldenrod;
    border-radius: 25px;
}
.footer-entity .address{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
    color: #87745b;

    
}
.footer-entity .add1{
    margin-top: 25px;
}
.footer-entity h3{
    color: #7e5c04;
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.footer-entity .email-id{
    color:#87745b;
    width: fit-content;
    border-bottom: 1px solid #87745b;
    margin: 20px 0;
}
.footer-entity ul li{
    list-style: none;
    margin-bottom: 10px;
}
.footer-entity ul li a{
    text-decoration: none;
    color: #87745b;
    
}
.footer-entity p i{
    vertical-align: middle;
}
.footer-entity .get-form{
    margin-bottom: 10px;
}
.footer-entity p .form{
    border-bottom: 1px solid #87745b;
}
.copy-right{
    text-align: center;
    color: #87745b;
    padding: 10px;
    font-size: 0.7rem;
}
/* nmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm */

/* .footer .scrollToTopBtn{
    width: 50px;
    float: right;
    border-radius: 50%;
    border: 2px solid #ab8d04;
    position: sticky;
}
.footer .policy{
    float: right;
    position: relative;
    top: 10%;
    right: 10%;
}
.footer ul li{
    display: inline;
    padding: 0 10px;
    list-style: none;
    line-height: 2.1rem;
    font-size: 0.8rem;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    color: #cccc;
}
.footer p{
    font-size: 0.8rem;
    color: rgb(129, 128, 128);
    text-align: center;
    
    font-family: 'Roboto' ,sans-serif;
} */

@media (max-width:952px) {
    label.logo{
        font-size: 1.4rem;
        /* padding-left: 50px; */
    }
    nav li a{
        font-size: 0.8rem;
    }
    .container{
        margin: 0;
        /* background-image: linear-gradient(rgba(0, 8, 51, 0.9),rgba(0,8,51,0.9));   */
    }
    
    
}
@media (max-width:1000px) and (min-width:900px){
    .logo-label{
        margin: 10px;
    }
}
@media (max-width: 858px){
    .container{
        max-width: 100%;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 80px;
        left: 0;
        text-align: center;
        left: -100%;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    nav li a{
        font-size: 1rem;
    }
    .main2{
        width: 700px;
    }
    a:hover, a.active{
        color: rgb(159, 71, 50);
    }
    #check:checked ~ ul{
        left: 0;
    }
    .board{
        width: 600px;
    }
    .beta-red{
        width: 100vw;
    }
    .footer-container .links{
	    display:none;
}
@media (max-width: 450px){
    label.logo{
        font-size: 1.3rem;
        margin: 10px;
        padding: 5px; 
    }
    label.checkbtn{
        font-size: 1.3rem;
    }
    /* body{
        background: none;
    } */
    .main2{
        margin-inline: auto;
        text-align: left;
    }
    .container{
        margin: 0;
        background-image: linear-gradient(rgba(0, 8, 51, 0.9),rgba(0,8,51,0.9));
    }
    .main2 h2{
        padding: 5px;
        font-weight: 550;
        color: #bba61d;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        background: -webkit-linear-gradient( rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );;
        /* background: -webkit-linear-gradient(#02b5b2, #093555); */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .main2 h1{
        padding: 10px;
        font-size: 3.4rem;
        font-weight: 700;
        font-family: 'Prosto One', cursive;
        background: -webkit-linear-gradient(#ff9966, #ff5e62);
        /* background: -webkit-linear-gradient(#02b5b2, #093555); */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .main2 h3{
        font-size: 0.8rem;
        font-weight: 600;
        color: rgb(57, 81, 159);
        padding: 5px;
        margin-top: 20px;
    }
    .board{
        transform: none;
        margin: 5px;
        width: 100%;
        
    }
    /* .footer{
        width: 100vw;
    } */
    .footer-container{
        flex-flow: column;
        flex-wrap: nowrap;
    }
    .footer-entity .links{
        display: none;
    }
}
@media (max-width:310px){
    label.logo{
        font-size: 1rem;
        padding: 15px;
    }
    .main2{
        margin-inline: 5px;
    }
    .box1{
        width: 300px;
    }
    .box1 h1{
        font-size: 2rem;
    }
    .box2{
        width: 300px;
    }
    .box2 p{
        font-size: 300px;
    }
    .board{
        position: relative;
        width: 30%;
    }
}
@media (max-width:280px){
    .main{
        margin-inline: 10px;
    }

}
